.ui-v1-modal{background:#2d336c66;z-index:1000;position:fixed;inset:0}.ui-v1-modal,.ui-v1-modal *,.ui-v1-modal *:before,.ui-v1-modal *:after{box-sizing:border-box}.ui-v1-modal_overlapped{background:transparent}
