@import (reference) '../../assets/stylesheets/geometry.less';
@import (reference) '../../assets/stylesheets/palette.less';
@import (reference) '../../assets/stylesheets/variables.less';

.container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: @grey-100;
}

.delete {
  color: @grey-800 !important;
}

.delete:hover {
  color: @red-600 !important;
}