.fleet
.idea
.vscode
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
dist
generated
node_modules
coverage
artifacts/
/bin/
packages/v1-endpoint/docs/targets/
packages/v1-contexts/docs/actions/
packages/v1-contexts/docs/contexts/
packages/v1-contexts/docs/custom-contexts/

.codex
.npmrc
.pnp.cjs
.pnp.loader.mjs
.yarnrc.yml

.DS_Store
