services:
  node: &node
    image: node:22
    user: node
    environment:
      - PATH=/project/node_modules/.bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
    volumes:
      - ./:/project
    working_dir: /project

  v1-components:
    <<: *node
    command: 'yarn storybook:serve'
    working_dir: /project/packages/v1-components
    labels:
      traefik.port: 6006
      traefik.enable: 'true'
      traefik.http.routers.embed-ui-v1-components.rule: 'HostRegexp(`v1.embed-ui.{[^.]+}`)'
      traefik.http.routers.embed-ui-v1-components.priority: 1
      traefik.http.routers.embed-ui-v1-components.service: embed-ui-v1-components
      traefik.http.services.embed-ui-v1-components.loadbalancer.server.port: '6006'
      dev.orbstack.domains: 'v1.embed-ui.local'

  actionlint:
    image: rhysd/actionlint:latest
    volumes:
      - ./:/project
    working_dir: /project
    entrypoint: [ "actionlint" ]

  act:
    build:
      context: ./
      dockerfile: .docker/act/Dockerfile
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - ./:/project
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: /project
    entrypoint: [ "act" ]
