@toggle-button-size-lg: 56px;
@toggle-button-size-md: 48px;
@toggle-button-size-sm: 36px;
@toggle-button-size-xs: 24px;

@toggle-button-min-width-lg: 128px;
@toggle-button-min-width-md: 128px;
@toggle-button-min-width-sm: 96px;
@toggle-button-min-width-xs: 72px;

@toggle-button-padding-x-lg: 16px;
@toggle-button-padding-x-md: 14px;
@toggle-button-padding-x-sm: 12px;
@toggle-button-padding-x-xs: 8px;

@toggle-button-icon-size-lg: 32px;
@toggle-button-icon-size-md: 24px;
@toggle-button-icon-size-sm: 16px;
@toggle-button-icon-size-xs: 16px;

@toggle-button-content-gap-lg: 8px;
@toggle-button-content-gap-md: 8px;
@toggle-button-content-gap-sm: 6px;
@toggle-button-content-gap-xs: 6px;
