@import (reference) '../../../../assets/stylesheets/geometry.less';
@import (reference) '../../../../assets/stylesheets/layout.less';
@import (reference) '../../../../assets/stylesheets/palette.less';
@import (reference) '../../../../assets/stylesheets/typography.less';
@import (reference) '../../../../assets/stylesheets/variables.less';

.ui-v1-date-picker {
  .reset-box-sizing();
  display: inline-block;

  &__icon {
    color: @grey-700;
  }

  &__popper {
    --ui-v1-popper-roundings: @border-radius-lg;

    .reset-box-sizing();
  }

  &__popper-content {
    display: flex;
    position: relative;
    font-family: @font-family;
  }

  &__quick-menu {
    width: 184px;
    min-width: 184px;
    max-height: 100%;
    padding: @spacing-xs 0;
    background: @grey-100;
  }

  &__workspace {
    padding: @spacing-s;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: @spacing-s;

    &_horizontal {
      flex-direction: row;
      align-items: center;
    }
  }

  &__action {
    width: 252px;
  }

  &__button {
    width: calc(50% - @spacing-xs);
    padding: 0 @spacing-s;

    & + & {
      margin-left: @spacing-xs;
    }
  }
}
