@content-width-sm: 720px;
@content-width-md: 672px;

@padding-horizontal: @spacing-l - 2px;
@padding-vertical: @spacing-m - 2px;

@icon-size-sm: 36px;
@icon-size-md: 64px;
@icon-gap-sm: 12px;
@icon-gap-md: 32px;
