.ui-v1-error{color:#ff5353;font-size:14px;font-weight:400;line-height:1.42857143;text-align:left}.ui-v1-error_ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.ui-v1-error_right{text-align:right}
