._container_1990g_1{padding:16px;border:1px solid #DEE2E6;border-radius:8px}._option_1990g_6{margin-bottom:8px}._option_1990g_6 label{cursor:pointer;margin-left:8px}._option_1990g_6 .ui-v1-radio_disabled~label{cursor:default}
