name: Tests

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  workflow-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Using branch ${{ github.ref }} for repository ${{ github.repository }}.
        uses: actions/checkout@v4

      - name: Run actionlint
        uses: devops-actions/actionlint@v0.1.10

  eslint:
    needs: workflow-lint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 22.x, 24.x ]

    steps:
      - name: Using branch ${{ github.ref }} for repository ${{ github.repository }}.
        uses: actions/checkout@v4

      - name: Setup dependencies
        uses: ./.github/actions/setup-dependencies
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build worktree
        run: yarn workspaces foreach -A --topological-dev run build

      - name: Run eslint
        run: yarn eslint

  tests:
    needs: eslint

    timeout-minutes: 60

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 22.x, 24.x ]

    steps:
      - name: Using branch ${{ github.ref }} for repository ${{ github.repository }}.
        uses: actions/checkout@v4

      - name: Setup dependencies
        uses: ./.github/actions/setup-dependencies
        with:
          node-version: ${{ matrix.node-version }}

      - name: Build worktree
        run: yarn workspaces foreach -A --topological-dev run build

      - name: Run tests
        run: yarn test

      - name: Run coverage
        if: ${{ matrix.node-version == '24.x' }}
        run: yarn test:coverage

      - name: Run typecheck tests
        run: yarn vitest run -c packages/v1-contexts/vitest.config.ts --typecheck.only --typecheck.checker tsc --typecheck.tsconfig packages/v1-contexts/tsconfig.json
