name: Tests

on: [ push, pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  eslint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 22.x, 24.x ]

    steps:
      - name: Using branch ${{ github.ref }} for repository ${{ github.repository }}.
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Yarn configuration
        run: make .yarnrc.yml

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: .yarn
          key: ${{ runner.OS }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-${{ matrix.node-version }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Fix PATH for hoisting
        run: echo "${{ github.workspace }}/node_modules/.bin" >> $GITHUB_PATH

      - name: Build worktree
        run: yarn workspaces foreach -A --topological-dev run build

      - name: Run eslint
        run: yarn eslint

  tests:
    needs: eslint

    timeout-minutes: 60

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 22.x, 24.x ]

    steps:
      - name: Using branch ${{ github.ref }} for repository ${{ github.repository }}.
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Yarn configuration
        run: make .yarnrc.yml

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: .yarn
          key: ${{ runner.OS }}-node-${{ matrix.node-version }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-${{ matrix.node-version }}-yarn-

      - name: Install dependencies
        run: yarn install

      - name: Fix PATH for hoisting
        run: echo "${{ github.workspace }}/node_modules/.bin" >> $GITHUB_PATH

      - name: Build worktree
        run: yarn workspaces foreach -A --topological-dev run build

      - name: Run tests
        run: yarn test
